.parent{
    width: 90%;
    margin: 10px auto;
}

.first {
    border: 1px solid red;
    float: left;
    width:30%;
    box-sizing: border-box;
}

.second{
    border: 1px solid green;
    float: left;
    margin-left: 5%;
    width:30%;
    box-sizing: border-box;
}

.third{
    border: 1px solid blue;
    float: right;
    width:30%;
    box-sizing: border-box;
}